<h1>Angular Material Schematics</h1>
<h2>Guide</h2>
<p>https://material.angular.io/guide/schematics</p>
<p>https://fontawesomeicons.com/materialdesign/icons</p>
<h2>Component Schematics</h2>
<P>address-form</P>
<p>navigation</p>
<p>dashboard</p>
<p>table</p>
<p>tree</p>
<h2>Command Line</h2>
<p>ng g @angular/material:navigation 'component-name'</p>
<p>ng g @angular/material:table 'component-name'</p>
<p>ng generate @angular/material:table 'component-name'</p>
<p>ng generate @angular/material:tree 'component-name'</p>
<p>ng generate @angular/cdk:drag-drop 'component-name'</p>

