
<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">Alonso Nava</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span><a [routerLink]="['student/home']">Home</a></span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span><a [routerLink]="['student/studentCreate']">Crear</a></span>
    </button>    
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span><a [routerLink]="['student/students']">List</a></span>
    </button>    
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span><a [routerLink]="['student/about']">About Us</a></span>
    </button>
    
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span><a [routerLink]="['student/help']">Help</a></span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
