  /** form **/
  .form-wraper{
    width: 100%;
    margin-top: 2%;
  }
  
  .form-container{
    position: sticky;
    top: 180px;
    width: 35%;
    margin: auto;
    padding-bottom: 24px !important;
    display: block;
    background: rgb(253, 253, 253);
  }
  
  .full-width {
    width: 100%;
  }
  
  
  