<h1>Lazy Loading</h1>
<p>https://www.concretepage.com/angular-2/angular-module-loading-eager-lazy-and-preloading</p>
<p>a. When the modules are loaded on-demand, then it is called lazy loading. It is loaded by using loadChildren property in route configuration. In lazy loading, modules are loaded asynchronously. These modules must not be imported in application module otherwise they will be eagerly loaded.</p>
<p>b. In route configuration loadChildren property is used as following.</p>
<p>c. If the application size is growing and there are many feature modules then loading all feature modules eagerly will make application slow. What we can do, is we can load a feature module when it is requested. Such type of module loading is called lazy loading.</p>
